
.flex-container {
    display: flex;
    flex-direction: column;
    background: red;
}

.flex-container .one {
    background: #1f2937;
    height: 100px;
    flex: 1 1 auto;   
}

.Logo {
    color: #f9faf8;
    font-size: 24px;
}

.flex-container .two {
    background: white;
    height: 100px;
    flex: 1 1 auto;
}

.flex-container .three {
    background: #e5e7eb;
    height: 100px;
    flex: 1 1 auto;
}

.flex-container .four {
    background: white;
    height:100px;
    flex: 1 1 auto;
}

.flex-container .one .header {
    flex-direction: row;
    color: ;
}