
h1 {
    color: red;
}

div .one {
    display: flex;
    border: 4px white;
    flex-direction: column;
    background-color: #1f2837;
}

.two {
    display: flex;
    background-color: blue;
}

.three {
    display: flex;
    background-color: #e5e7eb;
}

div .header {
    
    color: red;
    flex-direction: row;
    background-color: #1f2837;
}

.hero {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}